<app-navbar></app-navbar>
<div class="container table-responsive">
    <h1>Tabla Categorias</h1>
    <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-success bi bi-plus" data-bs-toggle="modal" data-bs-target="#form" (click)="isUpdate=false"></button>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr *ngFor="let categoria of categorias; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <!-- <td>{{categoria.idCategoria}}</td> -->
            <td>{{categoria.nombre}}</td>
            <td>{{categoria.estado}}</td>
            <td>
                <button type="button" class="btn btn-outline-success mx-2 bi bi-pencil-fill" (click)="selectCategoria(categoria)" data-bs-toggle="modal" data-bs-target="#form"></button>
                <button type="button" class="btn btn-outline-danger bi bi-archive" (click)="eliminarCategoria(categoria.idCategoria)"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- <div class="container d-flex justify-content-center mb-2">
    <button type="button" class="btn btn-success bi bi-plus" data-bs-toggle="modal" data-bs-target="#form" (click)="isUpdate=false"></button>
</div>
<div class="container d-flex flex-wrap justify-content-center">
    <div class="card mx-2" style="width: 18rem;" *ngFor="let categoria of categorias">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{categoria.nombre}}</h5>
            <p class="card-text">texto de prueba</p>
            <div>
                <button type="button" class="btn btn-outline-success mx-2 bi bi-pencil-fill" (click)="selectCategoria(categoria)" data-bs-toggle="modal" data-bs-target="#form"></button>
                    <button type="button" class="btn btn-outline-danger bi bi-archive" (click)="eliminarCategoria(categoria.idCategoria)"></button>
            </div>
        </div>
    </div>
</div> -->




<div class="modal fade" id="form" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" *ngIf="!isUpdate">Agregar Categoria</h1>
            <h1 class="modal-title fs-5" *ngIf="isUpdate">Actualizar Categoria</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formCategoria"> 
            <div class="mb-3">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-select" aria-label="Default select example" id="estado" formControlName="estado">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option>A</option>
                    <option>I</option>
                </select>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="resetFormCategoria()">Close</button>
            <button type="button" class="btn btn-primary" (click)="CrearCategoria()" *ngIf="!isUpdate" data-bs-dismiss="modal">Agregar</button>
            <button type="button" class="btn btn-success" (click)="actualizarCategoria()" *ngIf="isUpdate" data-bs-dismiss="modal">Actualizar</button>
        </div>
        </div>
    </div>
</div>