<app-navbar></app-navbar>
<app-header [titulo]="titulo" [icono]="icono"></app-header>
<div class="container table-responsive">
    <div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-success d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#form" (click)="isUpdate=false" *ngIf="isAdmin">
            <i class="bi bi-plus me-2"></i> Agregar Categoría
        </button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="isAdmin">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of categorias; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.estado }}</td>
                <td *ngIf="isAdmin">
                    <button type="button" class="btn btn-outline-success mx-2 bi bi-pencil-fill" (click)="selectCategoria(categoria)" data-bs-toggle="modal" data-bs-target="#form"></button>
                    <button type="button" class="btn btn-outline-danger bi bi-archive" (click)="eliminarCategoria(categoria.idCategoria)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="form" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" *ngIf="!isUpdate">Agregar Categoría</h1>
                <h1 class="modal-title fs-5" *ngIf="isUpdate">Actualizar Categoría</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formCategoria">
                    <div class="mb-3">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <select class="form-select" id="estado" formControlName="estado">
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="A">Activo</option>
                            <option value="I">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="resetFormCategoria()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="CrearCategoria()" *ngIf="!isUpdate" data-bs-dismiss="modal">Agregar</button>
                <button type="button" class="btn btn-success" (click)="actualizarCategoria()" *ngIf="isUpdate" data-bs-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>
